/*-------- Badge --------*/

.badge {
    display: flex;
    align-items: center;

    height: 32px;
    padding: 0 12px;
    border-radius: 8px;

    font-size: 14px;

    &:before {
        content: "";
        width: 8px;
        height: 8px;
        margin-right: 8px;

        border-radius: 50%;
        background-color: currentColor;
    }

    &.live {
        background: rgba(49, 188, 121, 0.2);
        color: $green;
    }

    &.upcoming {
        background: rgba(254, 169, 41, 0.2);
        color: $orange;
    }

    &.cancelled {
        background-color: rgba(128, 129, 145, 0.2);
        color: $mudy;
    }
}