/*-------- Basic --------*/

body {
    min-width: 320px;
    background: radial-gradient(50% 50% at 50% 50%, #363434 0%, #161616 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: $font-r;
    font-size: 14px;
    color: $grey;
    line-height: 1;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

input,
select {
    appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    appearance: none;
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
}

.container {
    max-width: 1168px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
}

.scrollwrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-right: 6px;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: darkgrey;
    }
}

.main {
    height: calc(100vh - 111px);
    padding-right: 0;
    overflow: auto;
}

.plus {
    width: 12px;
    height: 12px;

    position: relative;
    color: #ffffff;
    opacity: 0.7;
    transition: color 0.3s ease-out;

    &:not(button) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 1px;

        background-color: currentColor;

        position: absolute;
        border-radius: 1px;
    }

    &:after {
        transform: rotateZ(90deg);
    }
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    position: relative;
    color: #ffffff;
    opacity: 0.7;

    &:before,
    &:after {
        content: "";
        height: 50%;
        width: 2px;

        position: absolute;

        border-radius: 1px;
        background-color: currentColor;
        transition: color 0.2s ease-out;
    }

    &:before {
        transform: rotateZ(45deg);
    }

    &:after {
        transform: rotateZ(-45deg);
    }

    &:hover {
        opacity: 1;
    }
}

@media (hover: none) and (pointer: coarse) {
    .scrollwrapper {
        padding-right: 0 !important;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

@media (max-width: 767px) {
    body {
        background: radial-gradient(50% 50% at 50% 50%, #363434 0%, #161616 100%), #ffffff;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 619px) {
    body {
        font-size: 12px;
    }

    .scrollwrapper {
        padding-right: 2px;
    }
}

@media (max-width: 479px) {
    .remove {
        width: 34px;
        height: 34px;
    }
}

.info-popup {
    padding: 16px;
    font-size: 16px;
    line-height: 130%;
    border-radius: 16px;
    max-width: 320px;
    z-index: 101;
    background: rgb(39, 38, 44);
    color: rgb(244, 238, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px, rgb(14 14 44 / 10%) 0px 4px 12px -8px;
}
