/*-------- Basic --------*/

html, body, #root {
    height: 100%;
}

body {
    min-width: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: $font-r;
    font-size: 14px;
    color: $grey;
    line-height: 1;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

input,
select {
    appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input, textarea {
    background-color: transparent;
    padding: 0;
    border: none;
    color: #fff;
}

.label {
    display: block;
    color: rgba(255, 255, 255, 0.5);

    &--required:after {
        content: " *";
        color: $red;
    }

    &--comments {
        margin-bottom: 12px;
    }

    &--comments:after {
        content: none;
    }
}

.textarea {
    width: 100%;
    height: 120px;

    padding: 10px 20px;

    background: #202226;
    border: 1px solid #484545;
    border-radius: 8px;

    font-family: $font-r;
    font-size: 16px;
    color: #fff;
    resize: none;
}

button {
    margin: 0;

    appearance: none;
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
}

.container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.scrollwrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-right: 6px;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: darkgrey;
    }
}

.main {
    width: calc(100% - 260px);
    min-height: 100%;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    background: url(../../img/background.png), radial-gradient(50% 50% at 50% 50%, #363434 0%, #161616 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plus {
    width: 12px;
    height: 12px;

    position: relative;
    color: #ffffff;
    opacity: 0.7;
    transition: color 0.3s ease-out;

    &:not(button) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 1px;

        background-color: currentColor;

        position: absolute;
        border-radius: 1px;
    }

    &:after {
        transform: rotateZ(90deg);
    }
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    position: relative;
    color: #ffffff;
    opacity: 0.7;

    &:before,
    &:after {
        content: "";
        height: 50%;
        width: 2px;

        position: absolute;

        border-radius: 1px;
        background-color: currentColor;
        transition: color 0.2s ease-out;
    }

    &:before {
        transform: rotateZ(45deg);
    }

    &:after {
        transform: rotateZ(-45deg);
    }

    &:hover {
        opacity: 1;
    }
}

.disclaimer {
    max-width: 795px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;
    font-size: 14px;
    color: $mudy;
    line-height: 1.5;
    text-align: center;
}

@media (hover: none) and (pointer: coarse) {
    .scrollwrapper {
        padding-right: 0 !important;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

@media (max-width: 1099px) {

    .main {
        width: calc(100% - 200px);
    }
}

@media (max-width: 989px) {

    .main {
        width: 100%;
        padding-top: 120px;
        background: radial-gradient(50% 50% at 50% 50%, #363434 0%, #161616 100%), #ffffff;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {


    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 359px) {

    body {
        font-size: 12px;
    }
}