/*-------- Button --------*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    padding: 0 20px;

    border-radius: 8px;
    
    font-family: $font-r;
    color: #ffffff;
    font-size: 14px;

    transition: all 0.3s ease-out;

    &__icon {
        margin-right: 6px;
        transition: color 0.3s ease-out;
    }

    &__icon:only-child {
        margin: 0;
    }

    span + &__icon {
        margin-left: 6px;
    }
}

.button {

    &--red {
        background-color: $red;
        border: 1px solid transparent;
    }

    &--red:hover, &--red.active {
        background-color: transparent;
        border: 1px solid $red;
        color: $red;
    }
}

.button {

    &--grey {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &--grey:hover {
        color: $red;
        background-color: rgba(255, 255, 255, 0.1)
    }
}

.button {

    &--border {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 479px) {

    .button {
        height: 44px;
    }
}

@media (max-width: 359px) {

    .button {
        height: 40px;
        font-size: 12px;
    }
}