/*-------- Button --------*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    padding: 0 20px;

    border-radius: 8px;
    
    font-family: $font-r;
    color: #ffffff;
    font-size: 14px;

    transition: all 0.3s ease-out;

    &__icon {
        margin-right: 6px;
        transition: color 0.3s ease-out;
    }

    &__icon:only-child {
        margin: 0;
    }

    span + &__icon {
        margin-left: 6px;
    }
}

.button {

    &--red {
        background-color: $red;
        border: 1px solid transparent;
    }

    &--red:hover, &--red.active {
        background-color: transparent;
        border: 1px solid $red;
        color: $red;
    }
}

.button {

    &--grey {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &--grey:hover {
        color: $red;
        background-color: rgba(255, 255, 255, 0.1)
    }
}

.button {

    &--border {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 989px) {

    .button {

        &--header {
            width: 170px;
            height: 45px;

            padding: 0px 20px;
            margin-left: 10px;
            margin-right: 20px;
        }
    }
}

@media (max-width: 767px) {

    .button {

        &--more {
            width: 40px;
            height: 32px;

            background: #202226;
            border: 1px solid #484545;
            border-radius: 6px;
        }
    }

    .button {

        &--header {
            max-width: 155px;
            height: 36px;
            margin-left: 0;
            padding: 0 20px;
            font-size: 12px;
            border-radius: 6px;
        }
    }
}

@media (max-width: 619px) {

    .button {

        &--round {
            width: 36px;
            height: 36px;
        }
    }

    .button {

        &--form {
            height: 48px;
            font-size: 14px;
        }
    }
}