/*-------- Card --------*/

.cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -19px;
    margin-top: 24px;

    &__item {
        width: calc(33% - 8px);
        margin-bottom: 19px;
    }
}

.card {
    padding: 24px 24px 28px 24px;
    background: rgba(32, 34, 38, 0.8);
    border: 1px solid #484545;
    backdrop-filter: blur(40px);
    border-radius: 26px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: $font-sb;
        font-size: 20px;
        color: #fff;
    }

    &__list {
        margin-top: 16px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__item span:nth-child(2) {
        color: #fff;
    }

    &__item:not(:first-child) {
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid #3D3D3D;
    }

    &__button {
        height: 44px;
        padding: 0 35px;
        font-size: 14px;
        background: rgba(231, 45, 45, 0.05);
        border: 1px solid rgba(231, 45, 45, 0.5);
    }

    &__row--footer {
        margin-top: 28px;
    }

    &__date {
        text-align: right;
    }

    &__date-value {
        margin-top: 5px;
        color: #fff;
    }
}

.card {

    &--token {
        font-size: 16px;
    }

    &--token &__title {
        margin-top: 24px;
    }

    &--token &__price {
        margin-top: 8px;
    }

    &--token &__cap {
        margin-top: 24px;
    }

    &--token &__cap-value {
        margin-top: 8px;
        font-family: $font-sb;
        font-size: 20px;
        color: #fff;
    }

    &--token &__progress {
        margin-top: 16px;
    }
}

@media (max-width: 1399px) {

    .card {

        &--token {
            padding: 20px 18px 20px 18px;
        }

        &--token &__button {
            padding: 0 20px;
        }
    }
}

@media (max-width: 1219px) {

    .cards-list {

        &--catalog &__item {
            width: calc(50% - 8px);
        }
    }
}

@media (max-width: 619px) {

    .cards-list {

        &--catalog {
            max-width: 330px;
            margin-left: auto;
            margin-right: auto;
        }

        &--catalog &__item {
            width: 100%;
        }
    }
}

@media (max-width: 479px) {

    .cards-list {
        
        &--catalog {
            margin-top: 20px;
        }
    }

    .card {

        &--token {
            padding: 20px 15px 20px 15px;
        }

        &--token &__title, &--token &__cap-value {
            font-size: 18px;
        }
    }
}