/*-------- Catalog --------*/

.catalog {

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 56px;
        margin-top: 24px;

        position: relative;
    }

    &__tabs:before {
        content: "";
        width: 100%;
        height: 1px;

        position: absolute;
        top: 100%;

        background: radial-gradient(61.39% 50% at 50% 50%, #7D7C7C 0%, rgba(72, 69, 69, 0) 100%);
    }

    &__tabs-item {
        height: 100%;
    }

    &__tabs-item:not(:first-child) {
        margin-left: 72px;
    }

    &__tabs-button {
        display: flex;
        align-items: center;

        height: 100%;
        font-size: 16px;
        font-family: $font-r;
        color: rgba(255, 255, 255, 0.5);

        position: relative;

        transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &__tabs-button:after {
        content: "";

        width: 100%;
        height: 4px;

        border-radius: 32px 32px 0px 0px;
        background-color: $red;

        position: absolute;
        top: calc(100% - 3px);

        opacity: 0;
        visibility: hidden;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &__tabs-button.active {
        font-family: $font-sb;
        color: #fff;
    }

    &__tabs-button.active:after {
        opacity: 1;
        visibility: visible;
    }

    &__tabs-button:not(.active):hover {
        color: #fff;
    }

    &__filters {
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
    }

    &__filter:not(:first-child) {
        margin-left: 20px;
    }

    &__stats {
        display: flex;

        width: 100%;
        height: 132px;
        margin-top: 40px;

        background: rgba(32, 34, 38, 0.8);
        border: 1px solid #484545;
        backdrop-filter: blur(40px);
        border-radius: 26px;
    }

    &__stats-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        width: 50%;
        height: 100%;

        position: relative;
    }

    &__stats-column:not(:first-child):before {
        content: "";
        height: 64px;
        width: 1px;

        position: absolute;
        left: 0;

        background: #3D3D3D;
    }

    &__stats-title {
        text-transform: uppercase;
    }

    &__stats-value {
        margin-top: 12px;
        font-family: $font-stx;
        font-size: 48px;
        color: #fff;
    }
}

@media (max-width: 1219px) {

    .catalog {

        &__filters {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__filter {
            width: 49%;
        }

        &__filter:last-child {
            width: 100%;
            margin-bottom: 10px;
            order: -1;
        }

        &__filter:nth-child(n) {
            margin-left: 0;
        }
    }
}

@media (max-width: 619px) {

    .catalog {

        &--airdrop &__tabs-button {
            font-size: 14px;
            line-height: 1;
        }

        &--airdrop &__tabs-item:not(:first-child) {
            margin-left: 24px;
        }
    }
}

@media (max-width: 479px) {

    .catalog {

        &__filters {
            margin-top: 20px;
        }

        &__tabs-button {
            font-size: 14px;
        }

        &__tabs-item:not(:first-child) {
            margin-left: 40px;
        }

        &__stats {
            flex-direction: column;
            padding: 20px 0;
            height: auto;
        }

        &__stats-column {
            width: 100%;
            height: auto;
        }

        &__stats-column:not(:first-child) {
            margin-top: 12px;
        }

        &__stats-column:not(:first-child):before {
            content: none;
        }
    }

    .catalog {

        &--airdrop &__tabs-item:not(:first-child) {
            margin-left: 20px;
        }
    }
}