/*-------- Form --------*/

.form {
    padding: 20px 24px 28px 24px;
    background: rgba(32, 34, 38, 0.8);
    border: 1px solid #484545;
    backdrop-filter: blur(40px);
    border-radius: 26px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__submit {
        width: 220px;
    }
}

.form {

    &--address {
        margin-top: 40px;
    }

    &--address &__button--header {
        padding: 0 36px;
    }

    &--address &__input-wrapper {
        margin-top: 20px;
    }

    &--address &__submit {
        margin-top: 28px;
    }
}

.form {

    &--token {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 40px;
    }

    &--token &__title {
        width: 100%;
        margin-bottom: 20px;
    }

    &--token &__input-wrapper {
        width: 49%;
        margin-bottom: 20px;
    }

    &--token &__input-wrapper--last {
        margin-bottom: 28px;
    }

    &--token &__submit {
        flex-shrink: 0;
        margin-right: 50%;
    }
}