/*-------- Form --------*/

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 40px;
    
    padding: 20px 24px 28px 24px;
    background: rgba(32, 34, 38, 0.8);
    border: 1px solid #484545;
    backdrop-filter: blur(40px);
    border-radius: 26px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__submit {
        width: 220px;
    }

    &__tip {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px 24px;

        background: rgba(231, 45, 45, 0.1);
        border-radius: 8px;

        color: #ffffff;
        line-height: 1.3;
    }

    &__tip a {
        word-break: break-all;
        font-family: $font-sb;
        color: $red;
    }

    &__input-wrapper {
        width: 49%;
        margin-bottom: 20px;
    }

    &__input-wrapper--100 {
        width: 100%;
    }

    &__title {
        width: 100%;
        margin-bottom: 20px;
    }

    &__checkboxes {
        display: flex;
    }

    &__checkbox:not(:first-child) {
        margin-left: 28px;
    }

    &__text {
        width: 100%;
        color: #fff;
        line-height: 1.5;
    }

    &__title--mb {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    &__buttons {
        display: flex;
        width: 100%;
    }

    &__button {
        width: 248px;
    }

    &__button:not(:first-child) {
        margin-left: 20px;
    }
}

.form {

    &--address &__button--header {
        padding: 0 36px;
    }

    &--address &__input-wrapper {
        width: 100%;
        margin-top: 20px;
    }

    &--address &__submit {
        margin-top: 28px;
    }
}

.form {

    &--token &__input-wrapper--last {
        margin-bottom: 28px;
    }

    &--token &__submit {
        flex-shrink: 0;
        margin-right: 50%;
    }
}

.form {

    &--lock &__info {
        width: 100%;
        color: #fff;
    }

    &--lock &__button {
        width: 220px;
        margin-top: 20px;
    }

    &--lock &__button:nth-child(n) {
        margin-left: 0;
    }
}

.form {

    &--launchpad &__title {
        font-size: 26px;
    }

    &--launchpad &__input-wrapper--last {
        margin-bottom: 40px;
    }
}

@media (max-width: 1219px) {

    .form {

        &--launchpad &__input-wrapper--first {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {

    .form {

        &__input-wrapper {
            width: 100%;
        }
    }

    .form {

        &--address &__submit {
            width: 48%;
            margin-top: 0;
        }

        &--address &__button {
            width: 48%;
            margin-left: 0;
        }
    }

    .form {

        &--token &__submit {
            width: 100%;
            margin-right: 0;
        }

        &--token &__input-wrapper--last {
            margin-bottom: 24px;
        }
    }

    .form {

        &--launchpad &__buttons {
            justify-content: space-between;
        }

        &--launchpad &__button {
            width: 48%;
        }

        &--launchpad &__button:not(:first-child) {
            margin-left: 0;
        }
    }
}

@media (max-width: 479px) {

    .form {
        padding: 24px 15px;

        &__tip {
            padding: 10px 12px;
        }

        &__input-wrapper {
            margin-bottom: 16px;
        }
    }

    .form {

        &--address &__button--header {
            padding: 0 20px;
        }
    }

    .form {

        &--lock &__info {
            text-align: center;
        }

        &--lock &__button {
            width: 100%;
        }
    }
}

@media (max-width: 359px) {

    .form {

        &--address &__submit, &--address &__button {
            height: 40px;
            font-size: 12px;
        }
    }
}