/*-------- Input --------*/

.input-wrapper {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }
    
    &__row {
        height: 48px;

        background: #202226;
        border: 1px solid #484545;
        border-radius: 8px;
    }

    &__input {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        font-family: $font-r;
        font-size: 16px;
    }

    &__errors {
        margin-top: 16px;
    }

    &__error {
        color: $red;
    }

    &__error:not(:first-child) {
        margin-top: 5px;
    }

    &__info {
        color: #fff;
    }
}

@media (max-width: 767px) {
    .input-wrapper {
        &--percentage {
            width: 112px;
        }

        &--percentage:after {
            width: 30px;
            font-size: 14px;
        }

        &--percentage &__input {
            padding-right: 40px;
        }
    }
}

@media (max-width: 619px) {
    .input-wrapper {
        &--form {
            padding: 12px 10px;
        }

        &--form &__text {
            font-size: 10px;
        }

        &--form &__row &__text {
            margin-top: 4px;
        }

        &--form &__input {
            font-size: 38px;
            margin-left: 0;
        }

        &--form &__row {
            margin-top: 12px;
            flex-direction: column-reverse;
            align-items: flex-end;
        }
    }

    .input-wrapper {
        &--remove &__row {
            flex-direction: column;
        }
    }

    .input-wrapper {
        &--select {
            width: 100%;
        }

        &--select:not(:first-child) {
            margin-top: 8px;
        }

        &--select &__input {
            font-size: 18px;
        }
    }
}

@media (max-width: 479px) {
    .input-wrapper {
        &--form &__input {
            font-size: 24px;
        }
    }

    .input-wrapper {
        &--select {
            height: 32px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        &--select &__input {
            font-size: 14px;
        }
    }

    .input-wrapper {

        &--staking {
            height: 44px;
        }

        &--staking &__row {
            padding: 0 12px;
        }

        &--staking &__input, &--staking &__button, &--staking &__max {
            font-size: 12px;
        }
    }
}
