/*-------- Social --------*/

.social {
    display: flex;

    &__link {
        display: block;
    }

    &__icon {
        display: block;
        width: 100%;
        height: auto;
        color: #fff;
        transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__icon:hover {
        color: $red;
    }
}

.social {

    &--sidebar &__item:not(:first-child) {
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid #3d3d3d;
    }
}

.social {

    &--details &__item:not(:first-child) {
        margin-left: 12px;
    }

    &--details &__link {
        width: 20px;
    }

    &--details &__icon {
        color: $mudy;
    }

    &--details &__icon:hover {
        color: $red;
    }
}

@media (max-width: 1099px) and (min-width: 990px) {

    .social {

        &__link {
            width: 16px;
        }

        &--sidebar &__item:not(:first-child) {
            margin-left: 10px;
            padding-left: 10px;
        }
    }
}